html, body {
    height: 100%;
}

.login-container {
    height: 50%;
    width: 50%;
}

.login-container .left-side{
    height: 100%;
    width: 50%;
}

.login-container .right-side{
    height: 100%;
    width: 50%;
}

.form-container{
    height: 100%;
    width: 100%;
}