body{
    background: #f8f9fa;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container{
    height: 40%;
    width: 40%;

    background: #fff;
    padding: 3rem;

    border-radius: 20px;

    display: flex;
}

.login-container .left-side{
    background: red;
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container .left-side img{
    width: 80%;
}

.login-container .right-side{
    background: magenta;
    width: 50%;

    padding: 5rem 1rem 1rem 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}