html, body {
    height: 100%;
    overflow: hidden;
}

.background-top {
    height: 15%;
    width: 100%;

    position: relative;
}

.background-top img{
    width: 100%;

    position: absolute;
    top: -40px
}

.background-bottom {
    width: 100%;

    position: relative; 
}

.background-bottom img{
    width: 100%;
}

.foreground {
    height: 55%;
}

.login-container {
    height: 50%;
    min-height: 384px;
    width: 50%;

    margin-top: 5%;
}

.login-container .left-side{
    height: 100%;
    width: 50%;
}

.login-container .right-side{
    height: 100%;
    width: 50%;
}

.form-container{
    height: 100%;
    width: 60%;
}
